@page
@model headerModel
@{
}

<nav class="navbar navbar-light navbar-expand bg-white topbar static-top display-4 text-danger" id="local_nav" runat="server" style="height: 50px;">
    LOCALHOST
</nav>
