@page
@model part_shortage_transactionModel
@{
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Part Shortage</title>

    <link rel="icon" type="image/svg+xml" sizes="150x150" href="assets/img/MOM_title_logo.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-green.css">
    <link rel="stylesheet" href="assets/assy_b17/css/simplebar.css" />
    <link href="assets/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/datatable.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/jquery-datatable.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/buttons.min.css" rel="stylesheet" />
    <link href="assets/assy_b17/css/ajax-datatable-load.css" rel="stylesheet" />

    <style type="text/css">
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .text-center {
            text-align: center !important;
        }

        div.dt-button-collection {
            width: 80px !important;
            padding: 4px 4px 4px 4px !important;
        }

        .breadcrumb {
            padding: 1px 15px !important;
        }

        .lightgreen {
            background-color: lightgreen !important;
        }

        .GreenText {
            color: green !important;
            text-decoration: solid;
        }
    </style>
</head>

<body id="page-top" class="vh-100">
    <input type="hidden" id="admin_access" />
    <input type="hidden" runat="server" id="auto_id" />
    <input type="hidden" runat="server" id="team_member" />
    <input type="hidden" runat="server" id="request_id" />
    <input type="hidden" runat="server" id="in_progress" />
    <input type="hidden" runat="server" id="item_id" />
    <input type="hidden" runat="server" id="job_started_by" />

    <div class="flex-grow" data-simplebar="" style="min-height: 0">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-1">
                            <div class="row">
                                <div class="col my-auto">
                                    <p class="text-primary m-0 font-weight-bold" id="card_header" runat="server">Vista Part Shortage</p>
                                </div>
                                <div class="col exprt_btn" style="text-align: right;"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6" id="scan_jo_no_div" runat="server">
                                    <label><b>SCAN JO Number:</b></label>
                                    <input id="StartJOByScanner" runat="server" type="number" onkeydown="return TrapEnterKey(event)" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="table-responsive text-center table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info" style="width: 100%">
                                        <table class="table my-0 compact text-center" style="width: 100%;" id="data_table">
                                            <thead>
                                                <tr>
                                                    <th>JO Number</th>
                                                    <th>JO Sched Start Date</th>
                                                    <th>JO Sched Completion Date</th>
                                                    <th>Item</th>
                                                    <th>Current Qty</th>
                                                    <th>Total Qty</th>
                                                    <th>Catalog</th>
                                                    <th>Customer</th>
                                                    <th>SO Sched Ship Date</th>
                                                    <th>Notes</th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit_notes_modal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="width: 1232px">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_header">Edit Notes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <textarea id="edit_notes" class="form-control" style="width: 100%; height: 100%;"></textarea>
                                <input type="hidden" id="id_for_notes">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" onclick="EditNotes()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/assy_b17/js/left_side_bar.js"></script>
    <script src="assets/assy_b17/js/jquery.easing.js"></script>
    <script src="assets/assy_b17/js/simplebar.js"></script>
    <script src="assets/plugins/data-tables/datatable.js"></script>
    <script src="assets/plugins/data-tables/jquery.datatables.min.js"></script>
    <script src="assets/plugins/data-tables/buttons.min.js"></script>
    <script src="assets/plugins/data-tables/jszip.min.js"></script>
    <script src="assets/plugins/data-tables/buttons.html5.min.js"></script>
    <script src="assets/assy_b17/js/modalpopup.js"></script>
    <script src="assets/assy_b17/js/ajax-setup.js"></script>
    <script src="assets/assy_b17/js/ajax-exception.js"></script>
    <script src="assets/assy_b17/js/sweet-alert-msg-popup.js"></script>
    <script src="assets/assy_b17/js/datatable-export-html.js"></script>
    <script src="assets/assy_b17/js/left_sidebar_toggle.js"></script>

    <script>

        $(document).ready(function () {
            Populatepartshortage();
        });

        function Populatepartshortage() {
            var item = document.getElementById('item_id').value;
            var url = "part_shortage_transaction.aspx/GetSchedulerData";
            $.ajax({
                type: "POST",
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Credentials": true
                },
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'item': item }),
                beforeSend: function () {
                    $("#data_table").addClass('table-loader').show();
                },
                complete: function () {
                    $("table").removeClass('table-loader').show();
                },
                success: function (result) {
                    if (result.d.includes('ExceptionMessage')) {
                        SweetAlertMessagePopup(result.d, "error");
                    }
                    else {
                        if ($.fn.DataTable.isDataTable('#data_table')) {
                            $('#data_table').DataTable().clear().rows.add(JSON.parse(result.d).data).draw();
                        } else {
                            var table = $('#data_table').DataTable({
                                "dom": '<"row toolbar" <"col addButton text-right">>Bfrtip',
                                data: JSON.parse(result.d).data,
                                "columns": [
                                    { "data": "jo_num", "className": "text-center" },
                                    { "data": "jo_sched_start_date", "type": "date", "className": "text-center" },
                                    { "data": "jo_sched_comp_date", "type": "date", "className": "text-center" },
                                    { "data": "item", "className": "text-center" },
                                    { "data": "current_qty", "className": "text-center" },
                                    { "data": "total_qty", "className": "text-center" },
                                    { "data": "catalog", "className": "text-center" },
                                    { "data": "customer", "className": "text-center" },
                                    { "data": "so_sched_ship_date", "type": "date", "className": "text-center" },
                                    { "data": "short_note", "className": "text-center" },
                                    { "data": "startcomp", "className": "text-center", "orderable": false, "searchable": false, "sorting": false },
                                    { "data": "stop", "className": "text-center", "orderable": false, "searchable": false, "sorting": false },
                                    { "data": "is_progress", "title": "", "orderable": false, "searchable": false, visible: false },
                                    { "data": "add_in_mildew", "title": "", "orderable": false, "searchable": false }
                                ],
                                "rowCallback": function (row, data) {
                                    var check_progress = data['is_progress'];
                                    var data = "";
                                    if (check_progress.includes('*')) {
                                        data = check_progress.split('*');
                                        check_progress = data[0];
                                        if (data[1] != "other") {
                                            document.getElementById('job_started_by').value = data[1];
                                        }
                                    }

                                    if (check_progress == "yes") {
                                        $(row).addClass('lightgreen');
                                        document.getElementById('in_progress').value = '1';
                                    } else {
                                        $(row).removeClass('lightgreen');
                                    }

                                    if (document.getElementById('in_progress').value == '1') {
                                        document.getElementById('StartJOByScanner').blur();
                                    } else {
                                        setTimeout(function () {
                                            document.getElementById('StartJOByScanner').focus();
                                        }, 500);
                                    }
                                },
                                buttons: [
                                    {
                                        extend: 'collection',
                                        text: '<i class="fas fa-download fa-sm text-white-50"></i> Export',
                                        className: 'btn btn-primary btn-sm d-none d-sm-inline-block mx-1 exportOptions',
                                        init: function (api, node, config) {
                                            $(node).removeClass('dt-button');
                                        },
                                        buttons: [
                                            $.extend(!0, {}, buttonCommon, {
                                                extend: 'excel',
                                                text: ' <i class="fas fa-download fa-sm text-white-50"></i> Excel',
                                                className: 'btn btn-primary btn-sm w-100 mb-1',
                                                init: function (api, node, config) {
                                                    $(node).removeClass('dt-button')
                                                },
                                                filename: function () { return 'Part Shortage' },
                                                exportOptions: {
                                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                                                }
                                            })
                                        ]
                                    }
                                ],
                                drawCallback: function () {
                                    var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;

                                    if (!hasRows) {
                                        this.api().buttons('.exportOptions').disable();
                                    }
                                    else {
                                        this.api().buttons('.exportOptions').enable();
                                    }
                                }
                            });
                        }
                        $("#data_table_wrapper > .dt-buttons > .exportOptions").appendTo("div.exprt_btn");

                    }
                },
                error: function (error, exception) {
                    SweetAlertToastPopup(ErrorMessage(error, exception), "error");
                }
            });
        }

        function Stop_Click(building_id, step_id, jo_number, scheduler_data_id, notes) {
            Swal.fire({
                title: 'Are you sure you want to stop the job: ' + jo_number + ' ?',
                icon: 'warning',
                showDenyButton: true,
                confirmButtonText: `Yes`,
                allowOutsideClick: false,
                allowEscapeKey: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        headers: {
                            "Access-Control-Allow-Origin": "*",
                            "Access-Control-Allow-Credentials": true
                        },
                        url: "part_shortage_transaction.aspx/StopClick",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ 'building17_data_id': building_id, 'scheduler_data_id': scheduler_data_id, 'step_id': step_id, 'notes': notes }),
                        dataType: "json",
                        success: function (result) {
                            if (result.d.includes('ExceptionMessage')) {
                                SweetAlertMessagePopup(result.d, "error");
                            }
                            else {
                                SweetAlertSuccess('Job stopped successfully!', 'success');
                                document.getElementById('job_started_by').value = "";
                                document.getElementById('in_progress').value = '0';
                                Populatepartshortage();
                            }
                        },
                        error: function (error, exception) {
                            SweetAlertMessagePopup(ErrorMessage(error, exception), "error");
                        }
                    });
                }
            })
        }

        function StartJob(building17_data_id, job_no) {
            var in_progress = document.getElementById('in_progress').value
            var started_by = document.getElementById('job_started_by').value;
            if (in_progress == "1" && started_by == "progress") {
                SweetAlertMessagePopup('Job is already in progress!', 'warning');
            }
            else {
                Swal.fire({
                    title: 'Are you sure you want to start the job: ' + job_no + ' ?',
                    icon: 'warning',
                    showDenyButton: true,
                    confirmButtonText: `Yes`,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            headers: {
                                "Access-Control-Allow-Origin": "*",
                                "Access-Control-Allow-Credentials": true
                            },
                            url: "part_shortage_transaction.aspx/StartJobNo",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ 'building17_data_id': building17_data_id }),
                            dataType: "json",
                            success: function (result) {
                                if (result.d.includes('ExceptionMessage')) {
                                    SweetAlertMessagePopup(result.d, "error");
                                }
                                else {
                                    SweetAlertSuccess('Job started successfully!', 'success');
                                    document.getElementById('StartJOByScanner').value = "";
                                    Populatepartshortage();
                                    event.preventDefault();
                                }
                            },
                            error: function (error, exception) {
                                SweetAlertMessagePopup(ErrorMessage(error, exception), "error");
                            }
                        });
                    }
                })
            }
        }

        function CompleteJob(building17_data_id, step_id, job_no) {
            Swal.fire({
                title: 'Are you sure you want to complete the job: ' + job_no + ' ?',
                icon: 'warning',
                showDenyButton: true,
                confirmButtonText: `Yes`,
                allowOutsideClick: false,
                allowEscapeKey: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        headers: {
                            "Access-Control-Allow-Origin": "*",
                            "Access-Control-Allow-Credentials": true
                        },
                        url: "part_shortage_transaction.aspx/CompleteJobNo",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ 'building17_data_id': building17_data_id, 'step_id': step_id }),
                        dataType: "json",
                        success: function (result) {
                            if (result.d.includes('ExceptionMessage')) {
                                SweetAlertMessagePopup(result.d, "error");
                            }
                            else {
                                SweetAlertSuccess('Job completed successfully!', 'success');
                                document.getElementById('in_progress').value = '0';
                                document.getElementById('job_started_by').value = "";
                                Populatepartshortage();
                                event.preventDefault();
                            }
                        },
                        error: function (error, exception) {
                            SweetAlertMessagePopup(ErrorMessage(error, exception), "error");
                        }
                    });
                }
            })
        }

        function TrapEnterKey(e) {
            var scanner_jo_number = document.getElementById("StartJOByScanner").value;
            var job_inprogress = document.getElementById('in_progress').value;
            var item = document.getElementById('item_id').value;
            var started_by = document.getElementById('job_started_by').value;
            var Ucode = e.keyCode ? e.keyCode : e.charCode
            if (Ucode == 13 || Ucode == 9) {
                if (scanner_jo_number != "") {
                    $.ajax({
                        type: "POST",
                        headers: {
                            "Access-Control-Allow-Origin": "*",
                            "Access-Control-Allow-Credentials": true
                        },
                        url: "part_shortage_transaction.aspx/CheckValidJobNumber",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ 'scanner_jo_number': scanner_jo_number, 'item': item }),
                        dataType: "json",
                        success: function (result) {
                            if (result.d.includes('ExceptionMessage')) {
                                SweetAlertMessagePopup(result.d, "error");
                            }
                            else {
                                if (result.d == "no") {
                                    SweetAlertMessagePopup('In-valid job number!', 'error');
                                }
                                else {
                                    if (job_inprogress == "1" && started_by == "progress") {
                                        SweetAlertMessagePopup('Job is already in progress!', 'warning');
                                    }
                                    else {
                                        StartJob(result.d, scanner_jo_number);
                                    }
                                }
                            }
                        },
                        error: function (error, exception) {
                            SweetAlertMessagePopup(ErrorMessage(error, exception), "error");
                        }
                    });
                }
            }
        }

        function NotesModal(id, notes) {
            notes = notes.replaceAll("<br />", "\n")
            $("#edit_notes").val(notes);
            $("#id_for_notes").val(id);
        }

        function EditNotes() {
            $("#edit_notes_modal").modal('hide');
            var notes = $("#edit_notes").val();
            var id = $("#id_for_notes").val();
            $.ajax({
                type: "POST",
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Credentials": true
                },
                url: "part_shortage_transaction.aspx/EditNotes",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'notes': notes, 'id': id }),
                dataType: "json",
                success: function (result) {
                    if (result.d.includes('ExceptionMessage')) {
                        SweetAlertMessagePopup(result.d, "error");
                    }
                    else {
                        SweetAlertMessagePopup('Updated notes successfully', 'success');
                        Populatepartshortage();
                    }
                },
                error: function (error, exception) {
                    SweetAlertMessagePopup(ErrorMessage(error, exception), "error");
                }
            });
        }

        var buttonCommon = {
            exportOptions: {
                format: {
                    header: function (data, column, row) {
                        return data.replace("<br/>", "\n");
                    },
                    body: function (data, row, column, node) {
                        var newData = data.toString().replace("<br/>", "\n")
                        if (isHTMLExport(newData)) {
                            if ($(newData).find('input').length) {
                                return $(newData).find('input').val()
                            } else {
                                return $(newData).html()
                            }
                        } else {
                            return newData
                        }
                    }
                }
            }
        };

        function MildewPartRequest(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
</body>