@page
@model units_complete_reportModel
@{
}
<head>
    <link rel="icon" type="image/svg+xml" sizes="150x150" href="assets/img/MOM_title_logo.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-green.css">
    <link rel="stylesheet" href="assets/assy_b17/css/simplebar.css" />
    <link href="assets/plugins/data-tables/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/datatable.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/jquery-datatable.css" rel="stylesheet" />
    <link href="assets/plugins/data-tables/buttons.min.css" rel="stylesheet" />
    <link href="assets/assy_b17/css/ajax-datatable-load.css" rel="stylesheet" />

    <style type="text/css">
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        div.dt-button-collection {
            width: 80px !important;
            padding: 4px 4px 4px 4px !important;
        }

        .breadcrumb {
            padding: 1px 15px !important;
        }
    </style>
</head>

<body id="page-top" class="vh-100">
    <div class="flex-grow" data-simplebar="" style="min-height: 0">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-1">
                            <div class="row">
                                <div class="col my-auto">
                                    <p class="text-primary m-0 font-weight-bold" id="card_header" runat="server">Vista Units Completed Report</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-1">
                                    <label><b>JO Number:</b></label>
                                    <input id="job_number" runat="server" type="number" class="form-control" onchange="ClearDates()" />
                                </div>
                                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-1">
                                    <label><b>Start Date:</b></label>
                                    <input id="start_date" runat="server" type="date" class="form-control" onchange="ClearJob()" />
                                </div>
                                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-1">
                                    <label><b>End Date:</b></label>
                                    <input id="end_date" runat="server" type="date" class="form-control" onchange="ClearJob()" />
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-primary" type="button" onclick="submit_btn_click()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header py-1">
                            <div class="row">
                                <div class="col my-auto">
                                    <p class="text-primary m-0 font-weight-bold" id="datatable_card_header" runat="server">Unit Complete Report</p>
                                </div>
                                <div class="col exprt_btn" style="text-align: right;"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="table-responsive text-center table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info" style="width: 100%">
                                        <table class="table my-0 compact text-center" style="width: 100%;" id="data_table">
                                            <thead>
                                                <tr>
                                                    <th>JO Number</th>
                                                    <th>Current Qty</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>TAKT Time</th>
                                                    <th>Step</th>
                                                    <th>Completed By</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/assy_b17/js/left_side_bar.js"></script>
    <script src="assets/assy_b17/js/jquery.easing.js"></script>
    <script src="assets/assy_b17/js/simplebar.js"></script>
    <script src="assets/plugins/data-tables/datatable.js"></script>
    <script src="assets/plugins/data-tables/jquery.datatables.min.js"></script>
    <script src="assets/plugins/data-tables/buttons.min.js"></script>
    <script src="assets/plugins/data-tables/jszip.min.js"></script>
    <script src="assets/plugins/data-tables/buttons.html5.min.js"></script>
    <script src="assets/plugins/Toast/sweetalert.js"></script>
    <script src="assets/assy_b17/js/modalpopup.js"></script>
    <script src="assets/assy_b17/js/ajax-setup.js"></script>
    <script src="assets/assy_b17/js/ajax-exception.js"></script>
    <script src="assets/assy_b17/js/sweet-alert-msg-popup.js"></script>
    <script src="assets/assy_b17/js/datatable-export-html.js"></script>
    <script src="assets/assy_b17/js/left_sidebar_toggle.js"></script>
    <script>

        $(document).ready(function () {

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("start_date").setAttribute("max", today);
            document.getElementById("end_date").setAttribute("max", today);
        });

        function ClearJob() {
            document.getElementById('job_number').value = "";
        }

        function ClearDates() {
            document.getElementById('start_date').value = "";
            document.getElementById('end_date').value = "";
        }

        function submit_btn_click() {
            var job_number = document.getElementById('job_number').value;
            var start_date = document.getElementById('start_date').value;
            var end_date = document.getElementById('end_date').value;

            if (job_number == "" && start_date == "" && end_date == "") {
                SweetAlertMessagePopup('Please enter job number or select dates!', 'error');
                return false;
            }
            else if (start_date != "" && end_date == "") {
                SweetAlertMessagePopup('Please select end date!', 'error');
                return false;
            }
            else if (start_date == "" && end_date != "") {
                SweetAlertMessagePopup('Please select start date!', 'error')
                return false;
            }
            else if (Date.parse(start_date) > Date.parse(end_date)) {
                SweetAlertMessagePopup("End date should be greater than Start date!", "error");
                return false;
            }
            else {
                PopulateCompletedJobs(job_number, start_date, end_date);
            }
        }

        function PopulateCompletedJobs(job_number, start_date, end_date) {

            var url = "units_complete_report.aspx/GetCompletedJobs";
            var product_line = document.getElementById('item').value
            $.ajax({
                type: "POST",
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Credentials": true
                },
                url: url,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'product_line': product_line, 'job_number': job_number, 'start_date': start_date, 'end_date': end_date }),
                beforeSend: function () {
                    $("#data_table").addClass('table-loader').show();
                },
                complete: function () {
                    $("table").removeClass('table-loader').show();
                },
                success: function (result) {
                    var jsonD = JSON.parse(result.d);
                    if (result.d.includes('ExceptionMessage')) {
                        SweetAlertMessagePopup(result.d, "error");
                    }
                    else {
                        if ($.fn.DataTable.isDataTable('#data_table')) {
                            $('#data_table').DataTable().clear().rows.add(jsonD.data).draw();
                        } else {
                            var table = $('#data_table').DataTable({
                                "dom": '<"row toolbar" <"col addButton text-right">>Bfrtip',
                                data: JSON.parse(result.d).data,
                                "columns": [
                                    { "data": "jo_num" },
                                    { "data": "current_qty" },
                                    { "data": "start_time", "type": "date" },
                                    { "data": "end_time", "type": "date" },
                                    { "data": "takt_time" },
                                    { "data": "step" },
                                    { "data": "end_completed_by" }
                                ],

                                buttons: [
                                    {
                                        extend: 'collection',
                                        text: '<i class="fas fa-download fa-sm text-white-50"></i> Export',
                                        className: 'btn btn-primary btn-sm d-none d-sm-inline-block mx-1 exportOptions',
                                        init: function (api, node, config) {
                                            $(node).removeClass('dt-button');
                                        },
                                        buttons: [
                                            $.extend(!0, {}, buttonCommon, {
                                                extend: 'excel',
                                                text: ' <i class="fas fa-download fa-sm text-white-50"></i>Excel',
                                                className: 'btn btn-primary btn-sm w-100 mb-1',
                                                init: function (api, node, config) {
                                                    $(node).removeClass('dt-button')
                                                },
                                                filename: function () { return 'Units Completed' },
                                                exportOptions: {
                                                    columns: [0, 1, 2, 3, 4, 5, 6]
                                                }
                                            })
                                        ]
                                    }
                                ]
                            });
                        }
                        $("#data_table_wrapper > .dt-buttons > .exportOptions").appendTo("div.exprt_btn");

                    }
                },
                error: function (error, exception) {
                    SweetAlertToastPopup(ErrorMessage(error, exception), "error");
                }
            });
        }

        var buttonCommon = {
            exportOptions: {
                format: {
                    header: function (data, column, row) {
                        return data.replace("<br/>", "\n");
                    },
                    body: function (data, row, column, node) {
                        var newData = data.toString().replace("<br/>", "\n")
                        if (isHTMLExport(newData)) {
                            if ($(newData).find('input').length) {
                                return $(newData).find('input').val()
                            } else {
                                return $(newData).html()
                            }
                        } else {
                            return newData
                        }
                    }
                }
            }
        };
    </script>

</body>